@import '../settings.scss';
.home {
    @include flex-center;
    flex-direction: column;
    .home__tittle {
        font-size: 30px;
        margin: 70px 0 20px
    }
    .home__ul {
        @include flex-around;
        flex-wrap: wrap;
        width: 95%;
        li {
            @include flex-center;
            flex-direction: column;
            margin: 5px;
            padding: 10px;
            border: 1px solid $white;
        }
        li:hover {
            border: 1px solid $grey;
            border-radius: 5px;
        }
        img {
            width: 200px;
        }
        h2 {
            margin: 5px 0;
            span {
                font-weight: normal;
            }
        }
        p {
            margin: 5px;
        }
    }
}