nav {
    position: fixed;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 80px 80px;
    font-size: 40px;
    background-color: $primary;
    padding: 0 20px;
    div {
        margin: 5px;
    }
    .nav__home {
        grid-column: 1;
        color: $white;
    }
    .nav__cart {
        @include flex-center;
        position: relative;
        grid-column: 2;
        margin: 5px;
        font-size: 35px;
        color: $white;
        .cart_notif {
            @include flex-center;
            position: absolute;
            z-index: 99;
            top: 0;
            left: 3px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgb(209, 70, 35);
            font-size: 15px;
        }
    }
    .nav__account {
        display: flex;
        align-items: center;
        grid-column: 3;
        margin: 5px;
        color: $white;
    }
}